<div class="jumbotron">
  <h1 class="display-4">Welcome to MTG Scraper!</h1>
  <p class="lead">This App will let you scrape the articles page of <a href="https://www.mtggoldfish.com/articles" target="blank">MTG Goldfish</a></p>
  <hr class="my-4">
  <p>Start by Scraping the site by using the button below.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape the Web</a>
  </p>
</div>