<div class="jumbotron">
  <h1 class="display-4">You have Scraped the Web!</h1>
  <p class="lead">View the Articles you have scraped by clicking the link below!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/articles" role="button">View Articles</a>
  </p>
</div>